body {
    color:whitesmoke;
    background:#124727;
    margin: 0px;
    font-family: "Libre Caslon Text", serif;
    margin-bottom: 75px;
}


header {
    border-bottom: solid 2px gray; 
    padding: 20px;
    font-size: 32px;
    color: gray;
}


.chamada {
    background: rgb(64, 110, 65);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex; 
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 34px;
}

p {
    font-size: 19px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 13px;
}


.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 220px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: gray;
}